<button onclick="$.ajax({
      type : 'POST',
      url : '/build_delta',
	  data : {},
      dataType : 'script'
});">Click me</button>
<div id="scatterplot" style="height: 640px; width: 880px; margin-left: 0px; border: 1px solid black; background-color: white;"></div>


<script src="http://d3js.org/d3.v2.js"></script>