<button onclick="$.ajax({
      type : 'POST',
      url : '/build_delta',
	  data : {},
      dataType : 'script'
});">Click me</button>
<div id="scatterplot" style="height: 800px; width: 1200px; margin-left: 0px;"></div>


<script src="http://d3js.org/d3.v2.js"></script>