<h1>USCF Stats</h1>
<h3>By Andrew Latham</h3>

<%= form_tag({}, {:id => "id_search"}) do %>
	USCF ID: <%= text_field_tag "uscf_id" %>
    <%= submit_tag "Go" %>
<% end %>

<div id="test"><%= render(:partial => 'test', :locals => {:opponents => nil}) %></div>

<script>
$('#id_search').submit(function(){
   $.ajax({
      type : 'GET',
      url : '/tournaments',
	  data: {uscf_id: $("#uscf_id").val()},
      dataType : 'json',
	  error: function(){
		alert("There's an error!");
	  },
	  success : function(data){
		console.log(data);
		numTournaments = data["num"];
		opponents = []
		j = 0;
		stuff = {};
		for (i = 0; i < numTournaments; i++){
			$.ajax({
				type : 'GET',
				url: '/from_tournament',
				data: {url: data[i]},
				dataType: 'json',
				error: function(){
					alert("There's an error!");
				},
				success: function(data2){
					++j;
					opponents = opponents.concat(data2)
					console.log("J: " + j + "/" + numTournaments);
					if (j == numTournaments){
						$.ajax({
						      type : 'POST',
						      url : '/complete',
							  data : {stuff: opponents},
						      dataType : 'script'
						});
					}
				}
			})
		}
	  }
   });
   return false;
});
</script>