<h1>USCF Stats</h1>
<h3>By Andrew Latham</h3>

<%= form_tag({}, {:id => "id_search"}) do %>
	USCF ID: <%= text_field_tag "uscf_id" %>
    <%= submit_tag "Go" %>
<% end %>

<div id="test">Enter your USCF ID to see what happened to all the people you've played in your life</div>

<script>
$('#id_search').submit(function(){
   $("#id_search").hide();
   $.ajax({
      type : 'GET',
      url : '/tournaments',
	  data: {uscf_id: $("#uscf_id").val()},
      dataType : 'json',
	  error: function(){
		alert("There's an error!  e-mail acl68@case.edu");
	  },
	  success : function(data){
		console.log(data);
		numTournaments = data["num"];
		opponents = []
		j = 0;
		stuff = {};
		for (i = 0; i < numTournaments; i++){
			$.ajax({
				type : 'GET',
				url: '/from_tournament',
				data: {url: data[i]},
				dataType: 'json',
				error: function(){
					alert("There's an error!  e-mail acl68@case.edu");
				},
				success: function(data2){
					++j;
					date = data2[0].date;
					date = date.substring(4, 6) + "/" + date.substring(6, 8) + "/" + date.substring(0, 4);
					data2.splice(0, 1);
					opponents = opponents.concat(data2);
					$("#test").html("Crawling the USCF website for your tournament data and your opponent's profiles<br />Loading... " + Math.ceil((j / numTournaments) * 100) + "%<br />"
						+ "Last date processed: " + date);
					if (j == numTournaments){
						$.ajax({
						      type : 'POST',
						      url : '/complete',
							  data : {stuff: opponents},
						      dataType : 'script'
						});
					}
				}
			})
		}
	  }
   });
   return false;
});
</script>