// Place all the styles related to the Deltas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.axis{
	fill: white;
}

#inputArea form, #inputArea #text{
	width:100%;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

#inputArea form{
	font-size: 18pt;
}

#inputArea input:nth-child(3){
	-webkit-appearance: button;
	font-size: 18pt;
	border-radius: 2px 2px 2px 2px;
}

#inputArea #uscf_id{
	width: 130px;
	font-size: 18pt;
}