// Place all the styles related to the interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: url("bgimg.png");
	color:  #001800
}

a{
	text-decoration: none;
}

#top{
	width: 100%;
	padding-bottom: 12px;
	border-bottom: 2px solid #002200;
}

#header{
	width: 380px;
	margin-left: auto;
	margin-right: auto;
}

#title{
	width: 380px;
	text-align: center;
	font-size: 38pt;
}

#subtext{
	width: 380px;
	font-size: 14pt;
	position: relative;
}

#andrewLatham{
	margin-left: 10px;
}

#comingSoon{
	position: absolute;
	right: 10px;
}

#beta{
	width: 100%;
}

#beta form, #beta #test{
	width:100%;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

#beta form{
	font-size: 18pt;
}

#beta input:nth-child(3){
	-webkit-appearance: button;
	font-size: 18pt;
	border-radius: 2px 2px 2px 2px;
}

#beta #uscf_id{
	width: 130px;
	font-size: 18pt;
}

#options{
	margin-left: 20px;
}

#beta table, #beta td{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 2px 5px 2px 5px
}