// Place all the styles related to the interface controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#beta{
	width: 100%;
}

#beta form, #beta #test{
	width:100%;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

#beta form{
	font-size: 18pt;
}

#beta input:nth-child(3){
	-webkit-appearance: button;
	font-size: 18pt;
	border-radius: 2px 2px 2px 2px;
}

#beta #uscf_id{
	width: 130px;
	font-size: 18pt;
}

#options{
	margin-left: 20px;
}

#beta table, #beta td{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 2px 5px 2px 5px;
}