// Place all the styles related to the wpw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inputs{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#clickme{
	width: 100px;
	margin-left: 40%;
}