<div id="inputs">
	<h3>Tournament Match Network</h3>
	Tournament ID: <input type="text" id="tournament_id" />  ( Ex: 201001232121 )<br />
	Section: <input type="text" id="section" />  ( Ex: 1 )<br />
</div>
<button id="clickme">Render</button>
<div id="everything" style="height: 640px; width: 880px; margin-left: 0px; border: 1px solid black; background-color: black; display: none;"></div>
<script type="text/javascript">
	$("#navigation").val("Tournament Match Network");
	$("#clickme").click(function(){
		$("#inputs").hide();
		$("#clickme").hide();
		$.ajax({
			type : 'POST',
			url : '/tournament_graph',
			data : {"id": $("#tournament_id").val(), "section": $("#section").val()},
			dataType: 'script'
		});
	})
</script>